@{
}
<form method="POST" action="/user">
   <Label>Username</Label>
   <input type="text" name="username" />
   <label>Email</label>
   <input type="email" name="email" />
   <label>Password</label>
   <input type="password" name="password" />
   <label>Re-Type Password</label>
   <input type="password" name="verify" />
   <button type="submit">Submit</button>
</form>